.cursor {
  font-size: 12px;
  height: 1.5em;
  width: 10px;
  display: inline-block;
  background-color: blue;
  animation: blink 1s linear infinite;
  vertical-align: bottom; /* Align the cursor with the text */
}

.input-text {
  display: inline-block;
  white-space: nowrap; /* Prevent line breaks in the input text */
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}

textarea {
  left: -1000px;
  position: fixed;
}

.input-div {
  position: relative;
  display: inline-block;
}
